/*[class^='col']{
    border: 2px solid black;
}
[class^='offset']{
    border: 2px solid black;
}*/



body{
    color: white;
}


section,
footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.nero{
    color: black;
}
.sfondo-blu{
    background-color: #3a546d;
}

.sfondo-verde{
    background-color: #1abc9c;
}

.titolo{
    text-transform: uppercase;
    font-size: 20px;
    padding-top: 13px;
}
.header-content{
    height: 500px;
    background-color: yellow;
}



.sei-foto{
    width: 100%;
}

.sfondo-footer{
    background-color: rgb(34, 16, 16);
}

.my_wrapper-big{
    padding-left: 15%;
    padding-right: 15%;
}

@media screen and (min-width:992px){

    .my_wrapper-small{
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    
    
}