/*[class^='col']{
    border: 2px solid black;
}
[class^='offset']{
    border: 2px solid black;
}*/

.navbar-brand{
    color: white;
}

body{
    color: white;
}


section{
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}
.nav-link{
    color: white;
}
.nero{
    color: black;
}
.sfondo-blu{
    background-color: #3a546d;
}

.sfondo-verde{
    background-color: #1abc9c;
}
.foto{
    width: 50%;
}

.titolo{
    
    font-size: 40px;
    padding-top: 13px;
    
}
.uppercase{
    text-transform: uppercase;
}

.header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}

.flex{
    display: flex;
}
.linea{
    
    border-radius: 20px;
    
    display: inline-block;
    margin-bottom: 7px;
}
.linea-bianca{
    border: 2px solid white;
}
.linea-nera{
    border: 2px solid black;
}
.grande{
    width: 90px;
}

.bianca{
    color: white;
    font-size: 30px;
}
.nera{
    color: black;
    font-size: 30px;
}

.sei-foto{
    width: 100%;
    border-radius: 20px;
}

.sfondo-footer{
    background-color: rgb(34, 16, 16);
}

.my_wrapper-big{
    padding-left: 15%;
    padding-right: 15%;
}

/*PORTFOLIO*/

.titoletto{
    font-size: 30px;
}

/*ABOUT*/

.input-group-text{
    background-color: white;
}

.piccola{
    width: 40px;
}
.bottone-bianco{
    color: white;
}


label{
    color: black;
}

.floatingTextarea2{
    height: 160px;
}

.btn-success{
    text-align: start;
}

/*UPPER*/
.fa-facebook-f{
    border-radius: 20px;
    border: 1px solid white;
    padding: 15px;
    margin-right: 2px;
}
.fa-google-plus-g{
    border-radius: 26px;
    border: 1px solid white;
    padding: 15px;
    margin-right: 2px;
}
.fa-twitter{
    border-radius: 26px;
    border: 1px solid white;
    padding: 15px;
    margin-right: 2px;
}
.fa-linkedin{
    border-radius: 26px;
    border: 1px solid white;
    padding: 15px;
    margin-right: 2px;
}

.text-verde{
    color: rgb(66, 239, 66);
}

@media screen and (min-width:992px){

    .my_wrapper-small{
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    
    
}